body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
  
h1 {
    text-align: left;
}

.search h4 {
    display: flex;
    justify-content: center; /* Center horizontally */ 
    height: 25px; /* Adjust the height as needed */
    margin-top: 20px;
}

.search form {
    display: flex;
    justify-content: center; /* Center horizontally */ 
    height: 50px; /* Adjust the height as needed */
    margin-top:0px;
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Make it rounded */
    width: 200px; /* Adjust width as needed */
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Make it rounded */
    background-color: #007bff; /* Change button color */
    color: #fff; /* Text color */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} 
  
#shoeResults {
    display: flex;
    flex-wrap: wrap;
}
  
.shoe {
    width: 200px;
    margin: 10px;
}
  
.shoe img {
    width: 60%;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    transform: scale(1.05); /* Scale up on hover */
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card ul {
    margin-bottom: 10px;
}

.card ul li {
    margin-bottom: 5px;
}

.card img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-top: 10px;
}

body {
    background-color: #111;
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}