body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
  
h1 {
    text-align: center;
}
  
.search-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Make it rounded */
    width: 300px; /* Adjust width as needed */
    margin-bottom: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Make it rounded */
    background-color: #007bff; /* Change button color */
    color: #fff; /* Text color */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} 
  
#shoeResults {
    display: flex;
    flex-wrap: wrap;
}
  
.shoe {
    width: 200px;
    margin: 10px;
}
  
.shoe img {
    width: 60%;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
    transform: scale(1.05); /* Scale up on hover */
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card ul {
    margin-bottom: 10px;
}

.card ul li {
    margin-bottom: 5px;
}

.card img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-top: 10px;
}